<phpunit
        bootstrap="tests/bootstrap.php"
        >

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>

    <logging>

        <log type="coverage-html" target="build/coverage" charset="utf-8"
             yui="true" highlight="true" lowUpperBound="70" highLowerBound="80"/>

    </logging>
</phpunit>